{
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true, 
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "frontend/**/*.{js,jsx,ts,tsx}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "backend/**/*.{js,jsx,ts,tsx}",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}