@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}


:root {
  --bg-color-default: #fafafa;
  --text-default: #101010;
  /* Gray Colors */
  --color-gray-white: #FFFFFF;
  --color-gray-50: #FAFAFA;
  --color-gray-100: #EDEDED;
  --color-gray-200: #E1E1E1;
  --color-gray-300: #D9D9D9;
  --color-gray-400: #6C6C6C;
  --color-gray-500: #5E5E5E;
  --color-gray-600: #3F3F3F;
  --color-gray-700: #323232;
  --color-gray-800: #2A2A2A;
  --color-gray-900: #1C1C1C;
  --color-gray-black: #171717;

  /* Green Colors */
  --color-green-50: #F1FBF7;
  --color-green-100: #53D187;
  --color-green-200: #45CB7D;
  --color-green-300: #2FC26C;
  --color-green-400: #12B556;
  --color-green-500: #017343;
  --color-green-600: #005632;
  --color-green-700: #004327;

  /* Point Colors */
  --color-point-1: #F04040;
  --color-point-2: #DFDDD5;
  --color-point-3: #2572E6;


  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: var(--bg-color-default);
  color: var(--text-default);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg-color-default: #141414;
  --text-default: #ffffff;
  --color-gray-white: #3E3E3E;
  --color-green-100: #3AF2A4;
  --color-green-200: #3AF2A4;
  --color-green-300: #3AF2A4;
  --color-green-400: #3AF2A4;
  --color-green-500: #3AF2A4;
}

input {
  background-color: white;
}

.dark input {
  color: white;
  background-color: #3E3E3E;
}

.dark input::placeholder {
  color: #B0B0B0;
}


.aspect-4-3 {
  aspect-ratio: 4 / 3;
}

/* Animation */
@keyframes expand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

.animate-progress {
  animation: expand 2s ease;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.revealExpand {
  animation: revealExpand 0.2s ease;
  animation-iteration-count: 1;
}

@keyframes revealExpand {
  0% {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center;
  }
}
